:root {
	--background-color1: #FFA07A;
	--background-color2: #FFB6C1;
	--background-color3: #FFFFE0;
	--background-color4: #E0FFFF;
	--background-color5: #90EE90;
	--width: 95%;
	--margin: 1rem;
	--colorProgressBar: #90EE90;
}

.section-1 {
	background-color: var(--background-color1);
	width: 95%;
	height: 700px;
	margin: var(--margin);
}

.section-2 {
	top: 0;
	background-color: var(--background-color2);
	width: var(--width);
	height: 300px;
	margin: var(--margin);
	overflow: hidden;
}

.content {
	width: 60%;
	height: 100%;
	margin: 2rem;
}

.section-3 {
	background-color: var(--background-color3);
	width: var(--width);
	height: 500px;
	margin: var(--margin);
}

.section-4 {
	top: 0;
	background-color: var(--background-color4);
	width: var(--width);
	height: 300px;
	margin: var(--margin);
	overflow: hidden;
}

.section-5 {
	background-color: var(--background-color5);
	width: var(--width);
	height: 70%;
	margin: var(--margin);
}

.progress-container {
	position: sticky;
	float: right;
	top: 0;
	margin: 0;
	height: 100%;
	width: 1rem;
	transform: rotate(180deg);
}

.progress-bar {
	width: 1rem;
	background-color: var(--colorProgressBar);
	height: 0%;
}

.main-block {
	height: 3200px;
}